.main-container {
  padding: 30px;
}
.filter-container {
  width: auto;
  float: right;
  margin-top: 20px;
}
.ui.header > .icon {
  color: #ff7175;
  + .content {
    color: #ff7175;
  }
}
.cart-container {
  margin-top: 20px;
  .ui.card {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .filter-container {
    float: none;
    .labeled {
      width: 100%;
    }
  }
  .cart-container {
    width: 100%;
    .ui.card {
      div {
        text-align: center;
      }
    }
  }
  .products-list,
  .cart-container {
    .ui.card {
      width: 100%;
    }
  }
  .categories-container {
    .category-filter {
      margin-right: 0;
    }
    .input {
      width: 100%;
    }
  }
}
