.products-list {
  margin-top: 20px;
}
.card-container {
  .ui.card {
    display: inline-block;
    margin-right: 10px;
  }
  .ui.button {
    background: #69E781 none;
    color: #ffffff;
    &:hover {
      background: #69E781;
      color: #ffffff;
    }
  }
}
